* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: "Montserrat";
}

body {
    background: #f1f1f1
    
}

:root{
    --main-color: #d8d8f6;
    --secondary-coor: #404040
}

@font-face {
    font-family: "Montserrat";
    src: url(./assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}

section {
    padding: 5%;
}

h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
    font-family: "Montserrat";
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--secondary-coor);
    text-decoration: none;
}

nav .links a:hover {
    font-weight: 500;
}

nav .links {
    min-width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5em;
}

nav .menu-btn {
    display: none;
    border: none;
    background: none;
    margin-right: 3rem;
}

nav .menu-btn:hover {
    cursor: pointer;
}


nav .links.open {
    display: flex;
    animation: slideIn 0.5s forwards;
}

nav.nav-active .links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  nav.nav-active .logo,
  nav.nav-active .ctas {
    display: none;
  }
  

@media (max-width: 600px) {
    nav .links {
        display: none;
    }
    nav .menu-btn {
        display: block;
    }
}

.logo {
    display: flex;
}

.logo img {
    width: 6rem;
}

.logo h3 {
    display: flex;
    margin-left: 0.5rem;
    align-items: center;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: "Montserrat";
}

.front-page,
.projects {
    min-height: 100vh;
    max-width: 1050px;
    background-color: #f1f1f1;
    color: rgba(0, 0, 0, 0.781);
    margin: auto;
}

.intro {
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .intro {
        flex-direction: column;
    }

    .intro img {
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.intro img {
    border: none;
    height: 30rem;
    border-radius: 5rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.intro h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 125%;
    padding: 1rem 1rem;
    font-family: "Montserrat";
}

.intro p {
    font-weight: 500;
    line-height: 125%;
    padding: 1rem 1rem;
    font-family: "Montserrat";
}


/* .intro p {
    margin-top: 1rem;
    text-align: center;
} */


.ctas {
    margin-top: 2rem;
}

.ctas button {
    background-color: var(--main-color);
    color: var(--secondary-coor);
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.185);
    margin: 1rem;
}

.cta-proj {
    background-color: var(--main-color);
    color: var(--secondary-coor);

}

.cta-cv {
    background-color: var(--secondary-coor);
    color: white;
}

/*end-variables font*/
/* #D8D8F6 Lavender 
   #404040 Gray
*/